/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

/* Common */
.clear {
    clear: both;/*dùng để giải quyết trường hợp khi sử dụng float mà thẻ cha ko ôm dc thẻ con*/
}

.text-center {
    text-align: center !important;
}

.text-white {
    color: #fff !important;
}

.pull-right {
    float: right !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: calc(100% / 3);
}

.btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    appearance: none;/*áp dụng cho mọi trình duyệt*/
    -webkit-appearance: none;/*áp dụng cho safari(iphone)*/
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đền chi tiết
*/

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Hình dáng (kiểu chữ, hình tròn, vuông,...)
*/

/*
    PC >= 1024px
    Tablet >= 740px & < 1024px
    Mobile < 740px
*/

#wrapper {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {/* a là con trực tiếp của li và li là con trực tiếp của nav*/
    color: #fff;
    text-transform: uppercase;
}

#nav li a { /*chỉ cần a là con của li và li là con của nav thì thuộc tính này sẽ dc áp dụng*/
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav > li:hover > a, #nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%; /*cái này sẽ lấy kích thước đúng bằng cái kích thước mà thẻ cha chứa nó ==> 46px */
    left: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0px 16px;
    line-height: 38px;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0px 22px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer; /*đổi hình bàn tay của con trỏ chuột */
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .menu-icon,
#header .search-icon {
    color: blue;
    font-size: 20px;
    line-height: 46px;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#slider {
    margin-top: 46px;
    padding-top: 50%; /*lưu ý kỹ thuật này: nó sẽ lấy padding = 50% chiều rộng của chính nó(chiều rộng được hiển thị trên màn hình) */
    background: url('../img/chicago.jpg') top center / cover no-repeat;/*url background-position / background-size background-repeat*/
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* đoạn code dùng để căn chỉnh nội dung vào chính giữa */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* hoặc dùng width: 100%; hoặc dùng left, right:0 */
    text-shadow: 0 0 3px #000;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%; /*responsive*/
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px calc(64px + 48px);
}

#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 400;
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
    margin-top: 10px;
}

#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;/*in nghiêng*/
    opacity: 0.6;/*độ mờ*/
    margin-top: 25px; 
}

#content .about-text {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-top: 25px;
}

#content .members-list {
    margin-top: 47px;
    /*overflow: hidden;*//*dùng để sử dụng khi thẻ cha ko ôm dc thẻ con khi sử dụng float (có thể dùng clear)*/
}

#content .member-item {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    margin-top: 15px;
}

#content .member-img {
    width: 60%;
    border-radius: 4px;/*bo góc hình ảnh*/
    margin-top: 15px;
}

/* Tour section */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    list-style-type: none;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
    margin-right: 16px;
}

/*Place*/
.places-list {
    margin-top: 16px;/*cộng với mt-16 của place-item là thành 32px*/
    /*kĩ thuật dùng để loại bỏ phần dư thừa của padding 2 bên để cho đúng mép(ở place-item)*/
    margin-left: -8px;
    margin-right: -8px;
}
.place-item {
    float: left;
    width: calc(100% / 3);
    /*tạo khoảng cách ở giữa sử dụng padding nhưng sẽ gây ra vấn đề là sẽ tạo luôn khoảng cách 2 bên mép
    cách loại bỏ khoảng cách 2 bên mép: ở trên*/
    padding: 0px 8px;
}
.place-img {
    width: 100%;
    display: block;/*dùng để loại bỏ khoảng cách giữa place-img và place-body*/
    /*do mặc định thì hình ảnh là display: inline-block thì sẽ tạo 1 khoảng cách nhỏ*/
}

.place-img:hover {
    opacity: 0.7;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading {
    font-size: 15px;
}
.place-time {
    margin-top: 15px;
    color: #757575;
}
.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

/* Contact section */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map section */
.map-section img{
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 22px;
}

#footer .socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
}

/* Buy tickets modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;/*lúc làm giao diện thì để display = flex*/
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: #fff;
    width: 100%;
    min-height: 200px;
    position: relative;

    /*thêm hiệu ứng chuyển động bằng key frame dc thiết lập bên dưới*/
    animation: modalFadeIn ease 0.6s;
}

.modal-header {
    background-color: #009688;
    color: #fff;
    height: 130px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-body .modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-body .modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

.modal-body #buy-tickets {
    width: 100%;
    color: #fff;
    background-color: #009688;
    text-transform: uppercase;

    border: none;
    padding: 17px;
    font-size: 15px;

    cursor: pointer;
}

.modal-body #buy-tickets:hover {
    opacity: 0.7;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

.modal.open { /*khi để 2 class dính liền nhau có nghĩa là 1 thẻ cùng chứa 2 class*/
    display: flex;/*dùng trong javascript*/
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-59px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}